# Ignore external diffractsim files
diffractsim-main/

# Ignore misc python files
__pycache__/
.venv/
test.py

# Ignore Pyinstaller misc files
build/
dist/
main.exe
main.spec

# Ignore simulation results
simulation_results/
workspaces/

# Ignore screencaps
*.mkv

# Ignore grapihics project files
*.psd
*.pdn
*.bak