# Ignore external diffractsim files
diffractsim-main/

# Ignore misc python files
__pycache__/
.venv/

# Ignore Pyinstaller misc files
build/
dist/
main.exe
main.spec

# Ignore simulation results
simulation_results/
workspaces/

# Ignore screencaps
*.mkv
